.testimonials{
    margin-top: 50px;
    margin-bottom: 30px;
}
.part1{
    background: rgba(239, 231, 192, 0.5);
    padding: 10px 5px 10px 5px;
}
.part1-heading h2{
    color:rgb(44, 40, 40);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.part1-heading h2 span {
    background: linear-gradient(90deg, #c10e71, #d4a707);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.part1-blocks{
    display: flex;
}
.block{
    background-color: white;
    text-align: center;
    justify-content: center;
}
.block p{
    font-family:arial;
}
.part2{
    margin-top: 50px;
}
.part2-heading h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(134, 131, 131);
}
.part2-heading h2 span{
    color: rgb(173, 20, 173);
}
.part2-block{
    display: flex;
    justify-content: center;
}
.block1,.block2{
    text-align: left;
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}
.block1{
    background:rgba(223, 173, 245, 0.15) ;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block1 h3{
    color: #38056e;
    font-family:Arial, Helvetica, sans-serif;
}
.certificateimg{
    height: 320px;
    width: 400px;
    border-radius: 10px;
}
.block1-row3 {
    display: flex;
    margin-top: 10px;
}

.block1-row3 div {
    display: flex;
    font-family: Arial;
    padding: 0px 10px;
    border-radius: 25px;
    background: rgba(208, 151, 232, 0.15);
    color: #aa12b2;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(199, 106, 239, 0.15);
    margin-right: 10px;
}

.block1-row3 div:last-child {
    margin-right: 0;
}

.block1-row3 div img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.block2{
    background: rgb(237, 222, 159,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.block2 h3{
    color: #382405;
}
.block2 p{
    margin: 0px 10px 0px 10px;
    font-family: arial;
    margin-bottom: 10px;
}
.block2 img{
    height: 320px;
    width: 400px;
    border-radius: 10px;
}

@media(min-width: 993px){
    .part1-heading h2{
        font-size: 30px;
    }
    .block{
        height: 150px;
    }
    .block1,.block2{
        width: 500px;
        padding: 5px 5px 5px 5px;
    }
    .block1 h3,.block2 h3{
        font-size: 22px;
        width: 300px;
        text-align: center;
    }
}
@media (min-width: 769px) and (max-width: 992px) {

    .part1-heading h2{
        font-size: 27px;
    }
    .block{
        height: 130px;
    }
    .block1,.block2{
        width: 390px;
        padding: 5px 5px 5px 5px;
    }
    .block1 h3,.block2 h3{
        font-size: 20px;
        width: 250px;
        text-align: center;
    }
    .certificateimg{
        height: 250px;
        width: 330px;
    }
    .block2 img{
        height: 250px;
        width: 330px;
    }
    .block1-row3 div{
        font-size: 14px;
        height: 30px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .block{
        height: 100px;
    }
    .part1-heading h2 {
        font-size: 25px;
    }

    .block1, .block2 {
        width: 70%; 
    }
    .part2-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block2{
        margin-top: 20px;
    }
    .block1, .block2 {
        margin-right: 0;
    }
    .certificateimg{
        height: 250px;
        width: 360px;
    }
    .block2 img{
        height: 250px;
        width: 360px;
    }
}
@media (max-width: 576px) {
    

    .part1-heading h2 {
        font-size: 20px;
    }

    .block1, .block2 {
        width: 90%; 
    }
    .block1 img, .block2 img {
        height: auto; 
        width: 100%; 
    }
    .block1 h3, .block2 h3 {
        width: 100%; 
        text-align: center;
    }
    .part2-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .block2{
        margin-top: 20px;
    }
    .block1, .block2 {
        margin-right: 0;
    }
    .certificateimg{
        height: 250px;
        width: 300px;
    }
    .block2 img{
        height: 210px;
        width: 320px;
    }
    .block1-row3 {
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .block1-row3 div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 20px;
        margin-bottom: 10px;
    }
}